@model EasyHousingSolutionMVC.Models.Property

@{

    ViewData["Title"] = "SellerPropertyDelete";

    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>

<div>

    <h4>Property</h4>

    <hr />

    @* <dl class="row">

        <dt class="col-sm-2">

            @Html.DisplayNameFor(model => model.PropertyId)

        </dt>

        <dd class="col-sm-10">

            @Html.DisplayFor(model => model.PropertyId)

        </dd>

        <dt class="col-sm-2">

            @Html.DisplayNameFor(model => model.PropertyName)

        </dt>

        <dd class="col-sm-10">

            @Html.DisplayFor(model => model.PropertyName)

        </dd>

        <dt class="col-sm-2">

            @Html.DisplayNameFor(model => model.PropertyType)

        </dt>

        <dd class="col-sm-10">

            @Html.DisplayFor(model => model.PropertyType)

        </dd>

        <dt class="col-sm-2">

            @Html.DisplayNameFor(model => model.PropertyOption)

        </dt>

        <dd class="col-sm-10">

            @Html.DisplayFor(model => model.PropertyOption)

        </dd>

        <dt class="col-sm-2">

            @Html.DisplayNameFor(model => model.Description)

        </dt>

        <dd class="col-sm-10">

            @Html.DisplayFor(model => model.Description)

        </dd>

        <dt class="col-sm-2">

            @Html.DisplayNameFor(model => model.Address)

        </dt>

        <dd class="col-sm-10">

            @Html.DisplayFor(model => model.Address)

        </dd>

        <dt class="col-sm-2">

            @Html.DisplayNameFor(model => model.PriceRange)

        </dt>

        <dd class="col-sm-10">

            @Html.DisplayFor(model => model.PriceRange)

        </dd>

        <dt class="col-sm-2">

            @Html.DisplayNameFor(model => model.InitialDeposit)

        </dt>

        <dd class="col-sm-10">

            @Html.DisplayFor(model => model.InitialDeposit)

        </dd>

        <dt class="col-sm-2">

            @Html.DisplayNameFor(model => model.Landmark)

        </dt>

        <dd class="col-sm-10">

            @Html.DisplayFor(model => model.Landmark)

        </dd>

        <dt class="col-sm-2">

            @Html.DisplayNameFor(model => model.IsActive)

        </dt>

        <dd class="col-sm-10">

            @Html.DisplayFor(model => model.IsActive)

        </dd>

        <dt class="col-sm-2">

            @Html.DisplayNameFor(model => model.SellerId)

        </dt>

        <dd class="col-sm-10">

            @Html.DisplayFor(model => model.SellerId)

        </dd>

    </dl> *@

    <form asp-action="SellerPropertyDelete">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="PropertyId" class="control-label"></label>
                    <input asp-for="PropertyId" class="form-control" readonly />
                    <span asp-validation-for="PropertyId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PropertyName" class="control-label"></label>
                    <input asp-for="PropertyName" class="form-control" readonly />
                    <span asp-validation-for="PropertyName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PropertyType" class="control-label"></label>
                    <input asp-for="PropertyType" class="form-control" readonly />
                    <span asp-validation-for="PropertyType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PropertyOption" class="control-label"></label>
                    <input asp-for="PropertyOption" class="form-control" readonly />
                    <span asp-validation-for="PropertyOption" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" readonly />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">

                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" readonly />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PriceRange" class="control-label"></label>
                    <input asp-for="PriceRange" class="form-control" readonly />
                    <span asp-validation-for="PriceRange" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="InitialDeposit" class="control-label"></label>
                    <input asp-for="InitialDeposit" class="form-control" readonly />
                    <span asp-validation-for="InitialDeposit" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SellerId" class="control-label"></label>
                    <input asp-for="SellerId" class="form-control" readonly />
                    <span asp-validation-for="SellerId" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>

            </div>
        </div>
        <div>
            <div class="form-group mt-3">
                <input type="submit" value="Delete" class="btn btn-primary" />
            </div>
            @* <div class="btn btn-primary mt-2">
                <a class="text-white text-decoration-none" asp-action="Index">Back to List</a>
            </div> *@
        </div>
    </form>

    <div>
        @* <div class="btn btn-danger mt-2">
            <a class="text-white text-decoration-none" asp-action="SellerPropertyDelete">Delete</a>
        </div>
        <button type="button" class="btn btn-default">@Html.ActionLink("Delete", "SellerPropertyDelete", new { id = Model.PropertyId })</button>
         *@
         <div class="btn btn-primary mt-2">
            <a class="text-white text-decoration-none" asp-action="GetPropertySellerId">Back to List</a>
        </div>
    </div>

</div>